fastapi
uvicorn
python-multipart
pypdf
langchain-ollama
langgraph
langchain-openai
langchain-community
langchain-chroma
langchain-core
langchain-text-splitters
chromadb
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool